# Ignore all
*

# Except for
!.gitignore
!README.md
!build.cmd
!ConApp.cs
!ConsoleApplication.cs
!WinApp.cs
!WindowsApplication.cs
!App.cs
!Application.cs
!Program.cs

![Aa]bstract/
![Aa]bstract/*.cs
![Aa]bstract/*/
![Aa]bstract/*/*.cs
![Aa]bstract/*/*/
![Aa]bstract/*/*/*.cs
![Aa]bstract/*/*/*/
![Aa]bstract/*/*/*/*.cs

![Aa]ttribute/
![Aa]ttribute/*.cs
![Aa]ttribute/*/
![Aa]ttribute/*/*.cs
![Aa]ttribute/*/*/
![Aa]ttribute/*/*/*.cs
![Aa]ttribute/*/*/*/
![Aa]ttribute/*/*/*/*.cs

![Dd]elegate/
![Dd]elegate/*.cs
![Dd]elegate/*/
![Dd]elegate/*/*.cs
![Dd]elegate/*/*/
![Dd]elegate/*/*/*.cs
![Dd]elegate/*/*/*/
![Dd]elegate/*/*/*/*.cs

![Ee]num/
![Ee]num/*.cs
![Ee]num/*/
![Ee]num/*/*.cs
![Ee]num/*/*/
![Ee]num/*/*/*.cs
![Ee]num/*/*/*/
![Ee]num/*/*/*/*.cs

![Ee]xception/
![Ee]xception/*.cs
![Ee]xception/*/
![Ee]xception/*/*.cs
![Ee]xception/*/*/
![Ee]xception/*/*/*.cs
![Ee]xception/*/*/*/
![Ee]xception/*/*/*/*.cs

![Ii]nstance/
![Ii]nstance/*.cs
![Ii]nstance/*/
![Ii]nstance/*/*.cs
![Ii]nstance/*/*/
![Ii]nstance/*/*/*.cs
![Ii]nstance/*/*/*/
![Ii]nstance/*/*/*/*.cs

![Ii]nterface/
![Ii]nterface/*.cs
![Ii]nterface/*/
![Ii]nterface/*/*.cs
![Ii]nterface/*/*/
![Ii]nterface/*/*/*.cs
![Ii]nterface/*/*/*/
![Ii]nterface/*/*/*/*.cs

![Ss]tatic/
![Ss]tatic/*.cs
![Ss]tatic/*/
![Ss]tatic/*/*.cs
![Ss]tatic/*/*/
![Ss]tatic/*/*/*.cs
![Ss]tatic/*/*/*/
![Ss]tatic/*/*/*/*.cs

![Ss]truct/
![Ss]truct/*.cs
![Ss]truct/*/
![Ss]truct/*/*.cs
![Ss]truct/*/*/
![Ss]truct/*/*/*.cs
![Ss]truct/*/*/*/
![Ss]truct/*/*/*/*.cs