# Ignore all
*

# Except for
!.gitignore
!README.md
!build.cmd
!ConApp.cs
!WinApp.cs

!abstract/
!abstract/*.cs
!abstract/*/
!abstract/*/*.cs
!abstract/*/*/
!abstract/*/*/*.cs
!abstract/*/*/*/
!abstract/*/*/*/*.cs

!attribute/
!attribute/*.cs
!attribute/*/
!attribute/*/*.cs
!attribute/*/*/
!attribute/*/*/*.cs
!attribute/*/*/*/
!attribute/*/*/*/*.cs

!delegate/
!delegate/*.cs
!delegate/*/
!delegate/*/*.cs
!delegate/*/*/
!delegate/*/*/*.cs
!delegate/*/*/*/
!delegate/*/*/*/*.cs

!enum/
!enum/*.cs
!enum/*/
!enum/*/*.cs
!enum/*/*/
!enum/*/*/*.cs
!enum/*/*/*/
!enum/*/*/*/*.cs

!exception/
!exception/*.cs
!exception/*/
!exception/*/*.cs
!exception/*/*/
!exception/*/*/*.cs
!exception/*/*/*/
!exception/*/*/*/*.cs

!instance/
!instance/*.cs
!instance/*/
!instance/*/*.cs
!instance/*/*/
!instance/*/*/*.cs
!instance/*/*/*/
!instance/*/*/*/*.cs

!interface/
!interface/*.cs
!interface/*/
!interface/*/*.cs
!interface/*/*/
!interface/*/*/*.cs
!interface/*/*/*/
!interface/*/*/*/*.cs

!static/
!static/*.cs
!static/*/
!static/*/*.cs
!static/*/*/
!static/*/*/*.cs
!static/*/*/*/
!static/*/*/*/*.cs

!struct/
!struct/*.cs
!struct/*/
!struct/*/*.cs
!struct/*/*/
!struct/*/*/*.cs
!struct/*/*/*/
!struct/*/*/*/*.cs