# Ignore all
*

# Except for
!.gitignore
!README.md
!build.cmd
!ConApp.cs
!WinApp.cs

!abstract/
!abstract/*.cs
!abstract/*/*.cs
!abstract/*/*/*.cs
!abstract/*/*/*/*.cs

!attribute/
!attribute/*.cs
!attribute/*/*.cs
!attribute/*/*/*.cs
!attribute/*/*/*/*.cs

!delegate/
!delegate/*.cs
!delegate/*/*.cs
!delegate/*/*/*.cs
!delegate/*/*/*/*.cs

!enum/
!enum/*.cs
!enum/*/*.cs
!enum/*/*/*.cs
!enum/*/*/*/*.cs

!exception/
!exception/*.cs
!exception/*/*.cs
!exception/*/*/*.cs
!exception/*/*/*/*.cs

!instance/
!instance/*.cs
!instance/*/*.cs
!instance/*/*/*.cs
!instance/*/*/*/*.cs

!interface/
!interface/*.cs
!interface/*/*.cs
!interface/*/*/*.cs
!interface/*/*/*/*.cs

!static/
!static/*.cs
!static/*/*.cs
!static/*/*/*.cs
!static/*/*/*/*.cs

!struct/
!struct/*.cs
!struct/*/*.cs
!struct/*/*/*.cs
!struct/*/*/*/*.cs